<template>
    <v-container>
    <v-card elevation="4">

        <v-container fluid>
            <v-row>
                <v-col cols="12" lg="4" md="4">
                    <v-text-field label="id" v-model="app.slug" :disabled="!isEditing"></v-text-field>
                </v-col>

                <v-col cols="12" lg="8" md="8">
                    <v-text-field label="Nome" v-model="app.name" :disabled="!isEditing"></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-text-field label="Url" v-model="app.url" :disabled="!isEditing"></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-text-field label="Repositório" v-model="app.repository" :disabled="!isEditing"></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-text-field label="Syslog Tag" v-model="app.syslog_tag" :disabled="!isEditing"></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-textarea label="Descrição" v-model="app.description" :disabled="!isEditing" outlined></v-textarea>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
    </v-container>
</template>

<script>

import axios from 'axios'

export default {
    name: 'AppDetail',
    data: () => ({
        app: {},
        isEditing: false,
    }),
    methods: {

        setEditMode(isEditing) {
            this.isEditing = isEditing
            this.$emit("editModeChanged", isEditing);
        },

        edit() {
            this.setEditMode(true);
        },
        
        cancel() {
            this.setEditMode(false);
            this.load();
        },

        save() {

        },

        load() {
            var url = "/v1/apps/" + this.$route.params.appname;
            axios.get(url, { withCredentials: true }).then((result) => {
                this.app = result.data
                this.$route.meta.title = "Aplicações / " + this.app.name
            })
        }
    },

    created() {
        this.$route.meta.handlers = {
            edit: this.edit,
            cancel: this.cancel,
            save: this.save,
        }

        this.load();
        this.setEditMode(false);
    }
}
</script>