<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" xs="12" sm="12" md="12" xl="4" lg="4" v-for="app in apps" :key="app.id">
                <v-card elevation="4">
                    <v-card-title>
                        {{ app.name }}
                        <v-spacer></v-spacer>
                        <v-btn icon><v-icon>mdi-delete</v-icon></v-btn>
                    </v-card-title>
                    <v-card-subtitle class="italic"><a target="_blank" :href="app.url">{{ app.url }}</a></v-card-subtitle>
                    <v-divider/>
                    <v-card-text>
                        {{ app.description }}
                    </v-card-text>
                    <v-card-actions>
                        <v-btn icon title="Detalhar" :to="{ name: 'AppDetail', params: { appname: app.slug } }"><v-icon>mdi-magnify</v-icon></v-btn>
                        <v-btn icon title="Visualizar Logs" :href="app.log_url" target="_blank"><v-icon>mdi-text</v-icon></v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>

import axios from 'axios'

export default {
    name: 'Apps',
    data: () => ({
        apps: [],
    }),
    created() {
        axios.get("/v1/apps").then((result) => {
            this.apps = result.data
            this.apps.forEach((app) => {
                app.log_url = "/#/apps/" + app.syslog_tag + "/logs"
            })
        });
    }
}
</script>