<template>
  <div>Home</div>
</template>

<script>
// @ is an alias to /src

import axios from 'axios'

export default {
  name: 'Home',
  components: {
  },
  data: () => ({
    drawer: {
      open: true
    },
    apps: [],
    selectedApp: "",
    updateInterval: null,
    consoleText: "",
  }),
  methods: {
    selectApp(app) {

      this.selectedApp = app

      if (this.updateInterval != null) {
        clearInterval(this.updateInterval);
      }

      this.consoleText = "";

      this.updateInterval = setInterval(() => {
        axios.get("http://localhost:3000/apps/" + app + "/logs/tail?n=50", {withCredentials: true}).then((response) => {
          
          for (var i = 0; i < response.data.length; i++) {
            var msg = response.data[i];
            this.consoleText += "[" + msg.Timestamp + "] " + msg.Message  + "<br/>"
          }
        })
      }, 1000);
    },
  },
  created() {
    axios.get("http://localhost:3000/apps").then((response) => {
      this.apps = response.data
    })
  }
}
</script>

<style lang="css">
  .console {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    background-color: #eee;
    color: #333;
    border: 1px inset black;
    font-size: 9pt;
    padding: 5px;
  }
</style>
