<template>
    <div class="log-viewer">

        <div class="header">
            {{ this.appname }} / logs
        </div>

        <div class="toolbar">
            <v-form>
                <v-checkbox v-model="autoscroll" label="Rolagem automática" dark></v-checkbox>
            </v-form>
        </div>

        
        <div class="body">
            <table>
                <tr v-for="(msg,i) in messages" :key="i">
                    <td class="timeline">{{formatDate(new Date(msg.timestamp))}}</td>
                    <td class="textline">{{ msg.message }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>

import axios from 'axios';

export default {
    name: 'Kubernetes',
    data: () => ({
        appname: "",
        updateInterval: null,
        firstRequest: true,
        autoscroll: true,
        messages: [],
    }),
    methods: {
        formatDate(date) {
            return ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth()+1)).slice(-2) + "/" + date.getFullYear() + " " + 
                   ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);
        }
    },
    created() {
        this.appname = this.$route.params["appname"];
        console.log(this.appname);

        this.firstRequest = true;

        this.updateInterval = setInterval(() => {
            var url = "/v1/apps/" + this.appname + "/logs/tail?n=1000";

            if (this.firstRequest) {
                url += "&reset";
            }

            axios.get(url, { withCredentials: true }).then((result) => {

                if (result.data && result.data.length > 0) {
                    
                    result.data.forEach(msg => {
                        this.messages.push(msg);
                    });
                }
            })
        }, 1000);
    },
    beforeUpdate() {
    },
    updated() {
        if (this.autoscroll) {
            document.scrollingElement.scrollTop = document.scrollingElement.scrollHeight;
        }

        this.firstRequest = false;
    },
    destroyed() {
        if (this.updateInterval != null) {
            clearInterval(this.updateInterval)
        }
    }
}
</script>

<style lang="css">
.log-viewer {
    font-size: 9pt;
    padding: 0;
}

.log-viewer .header {
    position: fixed;
    top: 0px;
    width: 100%;
    font-size: 12pt;
    color: white;
    background-color: rgb(33, 150, 243);;
    padding: 10px;
    font-weight: bold;
    height: 30px;
}

.log-viewer .toolbar {
    position: fixed;
    width: 100%;
    top: 30px;
    height: 60px;
    background-color: rgb(33, 150, 243);;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

.log-viewer .body {
    padding: 0;
    margin-top: 90px;
}

.log-viewer .body table {
    width: 100%;
    border-spacing: 0;
}

.log-viewer .body table td {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.log-viewer .body table .timeline {
    width: 150px;
    background-color: #eee;
    color: #222;
    font-size: 10pt;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

.log-viewer .body table .textline {
    background-color: white;
    font-size: 11pt;
}
</style>