<template>

<div class="signin-box">
    <v-row align="center" justify="center">
        <v-col cols="12" md="5">
            <v-card class="elevation-12 signin-content" align="center" justify="center">
                    
                    <v-img width="96" src="https://www2.tce.am.gov.br/wp-content/uploads/2020/03/Brasaonovo_pequen2-1-1.png"></v-img>
                    <h1>Painel de Controle</h1>
                    <h4>TCE/AM</h4>

                    <v-form>
                        <v-text-field 
                            label="Usuário"
                            name="username"
                            prepend-icon="mdi-account-outline"
                            type="text"
                            color="black"
                            v-model="credentials.uid"/>
                        <v-text-field 
                            label="Senha"
                            name="password"
                            prepend-icon="mdi-lock-outline"
                            type="password"
                            color="black"
                            v-model="credentials.password"/>

                        <div class="login-actions">
                            <v-btn @click="signin">Entrar</v-btn>
                        </div>
                    </v-form>
            </v-card>
        </v-col>
    </v-row>
</div>

</template>

<script>

import axios from 'axios'

export default {
    name: "Signin",
    data: () => ({
        credentials: {
            uid: "",
            password: "",
        },
    }),
    methods: {
        signin() {

            axios.post("/v1/signin", this.credentials).then((result) => {
                
                if (result.data.name !== null) {

                    var account = result.data;
                    
                    localStorage.setItem("account", JSON.stringify(account))

                    this.$router.push({ name: 'Apps' });
                } else {
                    console.log(result.data);
                }
            }).catch((err) => {
                console.log(err);
            })
        }
    }
}
</script>

<style type="text/css">
.signin-content {
    margin-top: 50px;
    padding: 30px;
}

.signin-content h1 {
    font-size: 22pt;
    color: #33aaff;
}

.signin-content h4 {
    font-size: 12pt;
    color: #777;
    margin-bottom: 30px;
}

.login-actions {
    margin-top: 20px;
}
</style>