<template>
  <v-app>
    <v-app-bar
      app
      color="blue"
      dark

      v-if="!this.$route.meta.undecorated"
    >
      <v-app-bar-nav-icon @click="drawer.open = !drawer.open" v-if="!$route.meta.cangoback"></v-app-bar-nav-icon>
      <v-app-bar-nav-icon @click="back" v-if="$route.meta.cangoback">
        <v-icon >mdi-arrow-left</v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title>{{ this.$route.meta.title }}</v-toolbar-title>

      <v-spacer/>

      <v-btn icon @click="edit" v-if="$route.meta.action_buttons_enabled && !isEditing"><v-icon>mdi-pencil</v-icon></v-btn>
      <v-btn icon @click="cancel" v-if="$route.meta.action_buttons_enabled && isEditing"><v-icon>mdi-close</v-icon></v-btn>
      <v-btn text @click="save" v-if="$route.meta.action_buttons_enabled && isEditing"><v-icon>mdi-content-save</v-icon></v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="!this.$route.meta.undecorated"
      v-model="drawer.open"
      light
      app>
      <v-card>
        <v-card-title>Painel de Controle</v-card-title>
        <v-card-subtitle>Infra TCE/AM</v-card-subtitle>
        <v-divider/>
        <v-card-subtitle v-if="account">
          <v-icon>mdi-account</v-icon> {{ account.name }}
        </v-card-subtitle>
        <v-divider/>
      <v-list>
        <v-list-item link :to="{ name: 'Home' }" disabled>
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Início</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link :to="{ name: 'Apps' }">
          <v-list-item-icon>
            <v-icon>mdi-apps</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Aplicações</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link :to="{ name: 'DNS' }" disabled>
          <v-list-item-icon>
            <v-icon>mdi-dns</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>DNS</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link :to="{ name: 'Kubernetes' }" disabled>
          <v-list-item-icon>
            <v-icon>mdi-kubernetes</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Kubernetes</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link :to="{ name: 'WebProxy' }" disabled>
          <v-list-item-icon>
            <v-icon>mdi-arrow-decision</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Proxy Reverso</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link :to="{ name: 'Databases' }" disabled>
          <v-list-item-icon>
            <v-icon>mdi-database</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Bancos de Dados</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider/>

        <v-list-item link @click="logout">
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Sair</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
      </v-card>
    </v-navigation-drawer>

    <v-main>
      <router-view @editModeChanged="updateEditMode"></router-view>
    </v-main>
    
  </v-app>
</template>

<script>

import axios from 'axios'

export default {
  name: 'App',

  data: () => ({
    drawer: {
      open: true
    },
    isEditing: false,
    account: null,
  }),
  mounted() {
    var jsonAccount = localStorage.getItem("account")

    this.account = JSON.parse(jsonAccount);
  },

  methods: {
    back() {
      console.log("going back")
      this.$router.go(-1);
    },
    edit() {
      if (this.$route.meta.handlers.edit) {
        this.$route.meta.handlers.edit();
      }
    },
    cancel() {
      if (this.$route.meta.handlers.cancel) {
        this.$route.meta.handlers.cancel();
      }
    },
    save() {
      if (this.$route.meta.handlers.save) {
        this.$route.meta.handlers.save();
      }
    },
    updateEditMode(isEditing) {
      this.isEditing = isEditing
    },
    logout() {
      axios.get("/v1/signout").then((r) => {
        console.log(r)
        localStorage.removeItem("account");
         this.$router.push("/signin")
      })
    }
  }
};
</script>
